
button{ 
  
  background-color: brown; 
  display: block;
   margin-left: auto; 
   margin-right: auto;
   border-radius:50px;
   box-sizing: border-box;
   padding: 10px;
}
.a1,.a2,.a3{
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}
.a1,.a2{
  padding: 12px;
}

.a,.b {
  margin-bottom: 15px;
}

.a3{margin-left:30px;
}


button:hover{
  background-color: aliceblue; 
  color:rgb(29, 18, 18);
  transition: 0.5s;
}
  
  .c{
    padding-right:70px;
    margin-bottom: 50px;
  }
  section 
  {
    border: 1px solid white;
    box-sizing:border-box;
    display: block;
    margin-left: 537px;
    margin-right:537px;
    padding-top: 50px;
    background-image: url(images/pexels-chan-walrus-958545\ \(3\).jpg);
    margin-top: 30px;
    border-radius: 20px;
  }

  
