.a1,.a2,.a3
{
  text-decoration: solid ;color: rgb(29, 18, 18);
}
button
{
  background-color:teal; border: 77px;border-radius: 15px;padding:10px;font-size:14px;
}
  .a
  {
    margin-left:28%; margin-right: 20px;
  } 
  .b
  {
    margin-right: 20px;
  }
  .a,.b,.c
  {
    margin-top: 200px;text-align: center;
  }
  div
  {
    text-align: center;
  } 
  button:hover{background-color: aliceblue; color:rgb(29, 18, 18);transition: 0.5s;}
  .c{padding-right:70px;}

  
  
