.title{font-family: 'Times New Roman', Times, serif;
 text-decoration: underline;
 color: rgb(255, 250, 208);
 text-align: center;
margin-left: 5px;
margin-right: 5px;
 padding-top: 100px;
 display: block;
 padding-bottom: 200px;
 background-image: url(images/pexels-chan-walrus-jpg) ;background-repeat: no-repeat;
border-radius: 10px;
 margin-top: 20px;
 
}

   