body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div
{ 
    background-color: rgb(184, 184, 209);
}
#tit
{
    text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; 
    text-decoration: underline;
    color: antiquewhite;
    margin-top:10px; margin-bottom: 0%;padding-top:40px;
}
img
{
 width: 300px;
  height: 280px; 
  border-radius: 365px;
  margin-top:10%;
margin-left: auto;margin-right: auto; max-width: 50%;display: block;
}
.h3
{
    padding-left:2%; text-decoration: underline;
}
.third-para,.ing-tit,.steps-tit
{
    padding-left: 2%;
}
.ing-tit,.steps-tit
{
    text-decoration: underline;
}
.no-1,.no-2,.no-3,.no-4,.no-5,.no-6,.no-7       
{
    text-align:start; 
    margin-bottom:1%;

}
.ul1,.ul2,.ul3,.ul4,.ul5,.ul6,.ul7,.ul8,.ul9,.ul10{margin-bottom: 5px;}
.block
{
    display: flex; margin-top:5px;
}